/.vs
/packages

/Rep33.Data/Properties
/Rep33.Data/bin
/Rep33.Data/obj
/Rep33.Data/*.user

/Rep33.Domain/Properties
/Rep33.Domain/bin
/Rep33.Domain/obj
/Rep33.Domain/*.user

/Rep33wapi/Properties
/Rep33wapi/bin
/Rep33wapi/obj
/Rep33wapi/*.user

/TestRep33/bin
/TestRep33/obj

/TestResults
